@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

div,h2,h3,h4,p,span,img,input,a,form,select,ul,li,dl,dt,dd,button,address,label,table,colgroup,tbody,thead,textarea{margin:0; padding:0}
body, input, select{font-size:13px; color:#222; font-family:'Noto Sans KR','본고딕','돋움',dotum, sans-serif}

h2,h3,h4{font-size:1em}
img{border:none}
ul{list-style:none}
a:link, a:visited{color:#222; text-decoration:none}
a:hover, a:active, a:focus{color:#222; text-decoration:underline}

select, input, button{vertical-align:middle}
select, input[type="text"]{outline:none}
address{font-style:normal}

.skip{width:1px; height:1px; line-height:0; overflow:hidden; text-indent:-999px}

#skipMenu{position:absolute; width:100%}
#skipMenu a{position:absolute; top:-100px}
#skipMenu a:hover, 
#skipMenu a:active, 
#skipMenu a:focus{position:absolute; top:0px; background-color:#222; color:#fff; display:block; text-align:center; padding:10px 0; width:100%}

.clearfix:after{clear:both; content:''; display:block;}










